header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
}
.inner {
  padding-left: 1.6875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
#headernav {
  display: flex;
  align-items: center;
}
#headernav > a {
  display: block;
  padding: 19px 0 17px;
  border-bottom: 2px solid #fff;
  color: #555;
  letter-spacing: .02em;
  line-height: 1;
  text-align: center;
  transition: all .2s;
  margin-left: .85rem;
}
.booking > a {
  height: 4.5rem;
    margin-left: 3rem;
    padding: 1.5rem 1.5rem 1.5rem 2.625rem;
    font-size: .9375rem;
    font-weight: 700;
    letter-spacing: .04em;
    display: flex;
    align-items: center;
    background: #0d0d0d;
    color: #fff;
    position: relative;
}
.booking > a:before {
  border-width: 4.5rem 21px 0 0;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.booking > a:after {
  content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background: url(https://www.sejuku.net/assets/images/voice_arrow.svg) center / contain no-repeat;
}
.inner #headernav > a:hover {
  color: #eb0000;
  border-bottom-color: #eb0000;
}
#section0 {
  background-color: #f5f5f5;
  
}
#toptext {
  font-size: 1.75rem;
  text-align: center;
  line-height: 1.5;
}
#section1 {
  padding: 3.8rem 2rem 6rem;
}
.redtext {
  padding: 0.3rem;
  font-size: 2rem;
  font-weight: bold;
  color: #eb0000;
}
#content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4.2rem auto 0;
}
#backred {
  width: 60%;
  max-width: 750px;
  padding: 2.7rem 6.5rem;
  background-image: linear-gradient(94.87deg, #BE000A -0.11%, #EB0000 93.49%);
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  color: #fff;
}
#first-p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
#second-p {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 2;
}
#divimg {
  width: 40%;
  max-width: 430px;
  margin-left: 2rem;
}
#img1 {
  width: 100%;
  height: auto;
}
#video {
  max-width: 835px;
  margin: 4.2rem auto 0;
}
iframe {
  width: 100%;
  height: 439px;
}

/* フッター　*/
footer {
  background-color: #0d0d0d;
  padding: 80px 0 48px;
}
footer > .inner {
  max-width: 1272px;
  padding: 0 36px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
#footerlogo {
  margin-bottom: 44px;
  text-align: center;
}
footer nav {
  text-align: center;
}
footer nav a {
  color: #fff;
  display: inline-block;
  margin: 0 25px 15px;
  font-size: 14px;
  padding-bottom: 3px;
  line-height: 18px;
  letter-spacing: .04rem;
  text-decoration: none;
  position: relative;
}
footer nav a::after {
  content: '';
  background-color: #fff;
  display: block;
    width: 100%;
    height: 1px;
    margin: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scaleX(0);
  transition: all .2s;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}