header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
}
.inner {
  padding-left: 1.6875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
nav {
  display: flex;
  align-items: center;
}
nav > a {
  display: block;
  padding: 19px 0 17px;
  border-bottom: 2px solid #fff;
  color: #555;
  letter-spacing: .02em;
  line-height: 1;
  text-align: center;
  transition: all .2s;
  margin-left: .85rem;
}
.booking > a {
  height: 4.5rem;
    margin-left: 3rem;
    padding: 1.5rem 1.5rem 1.5rem 2.625rem;
    font-size: .9375rem;
    font-weight: 700;
    letter-spacing: .04em;
    display: flex;
    align-items: center;
    background: #0d0d0d;
    color: #fff;
    position: relative;
}
.booking > a:before {
  border-width: 4.5rem 21px 0 0;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.booking > a:after {
  content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background: url(https://www.sejuku.net/assets/images/voice_arrow.svg) center / contain no-repeat;
}
.inner nav > a:hover {
  color: #eb0000;
  border-bottom-color: #eb0000;
}
